body {
	font-family: "Montserrat", sans-serif;
	background-color: #f8f9fa;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: min(1200px, 75%);
	margin: 0 auto;
}

#header {
	margin-top: 1em;
}

.ui-panel {
	margin: 0 0.5em 1em 0.5em;
	box-shadow: 0 10px 35px rgb(50 50 93/ 10%), 0 5px 15px rgb(0 0 0/ 7%);
}

.ui-panel-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}